body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    
    font-size: medium;
    text-align: right;
    font-weight: 200;
}
section {
    padding: 20px;
}

#projects {
    background-color: #e7e7e7;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}